<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1>Edit Wiki</h1>

        <form action="/wikis/<%= wiki.id %>/update" method="post">
            <div class="form-group">
                <label for="title">Wiki title</label>
                <input type="text" value="<%= wiki.title %>" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea name="body" rows="15" class="form-control" placeholder="Enter Body"><%= wiki.body %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        
        <% if(currentUser.id == wiki.userId || currentUser.role == 2) { %>
            <% if(collaborators) { %>
                <h2>Wiki Collaborators</h2>

                <table class="table table-hover table-bordered">
                    <thead>
                        <th scope="col">Email</th>
                        <th scope="col">Revoke Access</th>
                    </thead>
                    <tbody>
                        <% collaborators.forEach((collaborator) => { %>
                        <tr>
                            <td>
                                <%= collaborator.User.email %>
                            </td>
                            <td>
                                <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.id %>/destroy" method="post">
                                    <button type="submit" class="btn btn-danger">Revoke Access</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>

            <h2>Add collaborators</h2>

            <table class="table table-hover table-bordered">
                <thead>
                    <th scope="col">Email</th>
                    <th scope="col">Grant Access</th>
                </thead>
                <tbody>
                    <% users.forEach((user) => { %>
                        <% let userIsWikiCollab %>
                        <% if(user.collaborators.length > 0) { %>
                            <% userIsWikiCollab = user.collaborators.filter(collab => collab.wikiId == wiki.id).length > 0; %>
                        <% } else { %>
                            <% userIsWikiCollab = false %>
                        <% } %>
                        
                        <% if (user.id != currentUser.id && !userIsWikiCollab ) { %>
                            <tr>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <% if (user.collaborators.wikiId != wiki.id) { %>
                                        <form style="display:initial"
                                            action="/wikis/<%= wiki.id %>/collaborators/users/<%= user.id %>/create" method="post">
                                            <button type="submit" class="btn btn-success">Grant Access</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>